--extra-index-url https://download.pytorch.org/whl/cu118
 torch
 torchvision
 torchaudio
 diffusers
 transformers
 accelerate
 safetensors
 streamlit==1.26.0
 lpips
 omegaconf
 opencv-contrib-python
 barfi
 git+https://www.github.com/XmYx/deforum.git
 streamlit-extras
 kornia
 streamlit-drawable-canvas
 rembg